<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<!--/*thymesVar id="vet" type="com.mills.rachelpetclinic.model.Vet"*/-->
<h1 th:text="'List of Vets'">List of Vets ...</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">1</td>
        <td th:text="${vet.firstName}">Rachel</td>
        <td th:text="${vet.lastName}">Mills</td>
    </tr>
    </tbody>
</table>
</body>
</html>